.button{
    width: 290px;
    height: 40px;
    min-width: 120px;
    max-width: 290px;
    border-radius: 12px;
    padding: 10px 16px;

    font-size: 16px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-title-color);
}

.button--primary{
    background-color: var(--primary-color);
    
}

.button--outline{
    background-color: transparent;
    border: 1px solid var(--border-subtle-color);
}

.button--header{
    width: 120px;
    background-color: #F2F5F8;
}