* {
    margin: 0;
	font-family: 'Albert Sans', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	box-sizing: border-box !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    /* Colors Tokens */
    --primary-color: #FDB137;
    --bg-color: #FEFCF2;
    --surface-color: #fff;   

    /* Text Tokens */
    --text-title-color: #694101;
    --text-subtitle-color: #9E6202;
    --text-primary-color: #3C4650;
    --text-secondary-color: #5A6470;
    
    /* Border Tokens */
    --border-subtle-color: #9E6202B8;
    --border-regular-color: #B0B8C1; 
}

.row-group {
	display: flex;
}

.column-group {
	display: flex;
	flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.align-between{
    align-items: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.gap-1{
    gap: 8px;
}

.gap-2{
    gap: 16px;
}

.gap-3{
    gap: 24px;
}

.pointer{
    cursor: pointer;
}

html{
    background-color: var(--bg-color);
}

h1 {
	font-size: 40px;
	font-weight: bold;
    color: var(--text-title-color);
}

h2{
	font-size: 24px;
	font-weight: bold;
    color: var(--text-title-color);
}

h3{
    font-size: 18px;
    font-weight: normal;
    color: var(--text-subtitle-color);
}

h4{
    font-size: 18px;
    font-weight: bold;
    color: var(--text-primary-color);
}

p{
    font-size: 16px;
	font-weight: normal;
    color: var(--text-primary-color);
}
